* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  background-color: rgba(0, 0, 0, 0.892);
}


.profile {
  width:100%;
  display: flex;
  justify-content: center;
}

.profile .profileContainer {
  display: flex;
  height: auto;
  width: 65%;
  justify-content: center;
  align-items: center;
}

.profile .profileContainer .intro {
  flex-direction: column;
  margin: 2rem;
}

.profile h2 {
  color:rgb(105,108,153);
}

.profile p {
  color: white;
  width: 80%;
}

.Headshot {
  width: 18rem;
  margin: 4rem auto;
  /* border-radius: 20% 80% 57% 43% / 20% 37% 63% 80%; */
  border-radius: 50%;
  /* border-radius: 49% 51% 47% 53% / 24% 25% 75% 76%  */
}

.Main {
  height: 1080px;
}

@media (max-width: 768px) {
  .profile .profileContainer {
    flex-direction: column-reverse;
  }
  .profile .profileContainer .Headshot {
    margin: 0;
  }
}

@media (max-width: 319px) {
  .profile .profileContainer .Headshot {
    width: 8rem;
  }
  .profile p {
    width: 100%;
  }
}