* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  background-color: rgba(0, 0, 0, 0.892);
}

.navbar {
  background-color: rgb(28,28,28);
  /* color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 1rem; */
}

/* .site-title {
  font-size: 2rem;
} */

/* .navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
} */

/* .navbar a {
  color:inherit;
  text-decoration: none;
} */


.Profile {
  display: flex;
  height: auto;
  justify-content: right;

}

.Headshot {
  width: 20%;
  margin: 80px;
  /* border-radius: 20% 80% 57% 43% / 20% 37% 63% 80%; */
  border-radius: 50%;
  /* border-radius: 49% 51% 47% 53% / 24% 25% 75% 76%  */
}

.Main {
  height: 1080px;
}

