* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  background-color: rgba(0, 0, 0, 0.892);
}


.Profile {
  display: flex;
  height: auto;
  justify-content: right;

}

.Headshot {
  width: 16rem;
  margin: 80px;
  /* border-radius: 20% 80% 57% 43% / 20% 37% 63% 80%; */
  border-radius: 50%;
  /* border-radius: 49% 51% 47% 53% / 24% 25% 75% 76%  */
}

.Main {
  height: 1080px;
}

